<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="it.filippor.bndtools.pde.target"
         name="bndtools Target"
         point="org.eclipse.pde.core.targetLocations">
          <targetLocation
		   locationFactory="it.filippor.bndtools.pde.target.location.BndWorkspaceTargetLocationFactory"
		   type="bndWorkspace"
		   canUpdate="true"
		   >
		  </targetLocation>
   </extension>
   
   <extension
         id="it.filippor.bndtools.pde.target.buildListener"
         name="bndtools Target"
         point="bndtools.core.buildListeners">
      <listener
            class="it.filippor.bndtools.pde.target.listener.BndBuildListener"
            name="update TargetLocation">
      </listener>
         
   </extension>
   
    <extension
         point="org.eclipse.pde.ui.targetLocationProvisioners">
      <locationProvider
            class="it.filippor.bndtools.pde.target.location.ui.BndWorkspaceTargetLocationWizard"
            icon="images/bndtools-logo-16x16.png"
            id="it.filippor.bndtools.pde.target.locationProvider"
            name="BndtoolsWorkspace">
         <description>
            Bndtools workspace project bundle
         </description>
      </locationProvider>
   </extension>
   
    <extension
          point="org.eclipse.core.runtime.adapters">
       <factory
             adaptableType="it.filippor.bndtools.pde.target.location.IBndWorkspaceTargetLocation"
             class="it.filippor.bndtools.pde.target.location.ui.AdapterFactory">
          <adapter
                type="org.eclipse.jface.viewers.ILabelProvider">
          </adapter>
          <adapter
                type="org.eclipse.pde.ui.target.ITargetLocationEditor">
          </adapter>
          <adapter
                type="org.eclipse.pde.ui.target.ITargetLocationUpdater">
          </adapter>
       </factory>
    </extension>
  

</plugin>
